@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
.login {
  margin: auto;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  width: 70%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(227, 236, 246, 1) 6%,
    rgba(241, 238, 235, 1) 50%,
    rgba(215, 230, 252, 1) 100%
  );
}

.loginTitle {
  font-size: 35px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 20px;
}

.input1,
.input2 {
  margin-bottom: 30px;
}

.input3 {
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .login {
    width: 100%;
    margin-top: 0px;
  }

  .loginTitle {
    font-size: 25px;
  }
}
